html, body {
  height: 100%;
}

body, button {
  margin: 0;
  font-family: 'Oleo Script', cursive;
}

.fullwidth {
  width: 500px;
}

.centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1, h2 {
  margin-top: 0;
}

h1 { color: Crimson; }

h2 { color: SeaGreen; }

#sketch-holder {
  padding: 3rem;
}

canvas#snowglobe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 10px 30px 10px DarkGray;
}

#controls {
  display: flex;
}
button {
  display: block;
  background-color: SeaGreen; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
